{% extends "index.html" %}
{% block title %}

<title>home</title>
  
{% endblock title %}

{% block content %}


        <!-- Masthead-->
        <header class="masthead">
            <!-- <div class="container">
                <div class="masthead-subheading"></div>
                 <div class="masthead-heading text-uppercase">It's Nice To Meet You</div> -->
                <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a> -->
            <!-- </div > -->
            <div style="text-align: center;">
                <h1>Hello</h1>
            </div>
            <div style="text-align: center;">
                <h1><a href="courses/">Courses</a></h1>
                
            </div>
        </header>

 
        
                       
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
             
            </div>
        </section>
        <!-- Team-->



  
{% endblock content %}